*{
	margin: 0px;
	padding: 0px;
	font-family: Arial,sans-serif;
}
.wrapper{
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.header{
	border: solid black 0px;
	padding: 10px;	
}

.content{
	border: solid  gainsboro 1px;	
	padding: 10px;
	margin: 20px;
	box-shadow: 4px 4px 0px 0px #e8e8e8;
	border-radius: 25px;
}

.footer{
	border: solid black 0px;	
	padding: 10px;
}

.loginForm{
	padding: 20px;
}

#username:focus, 
#password:focus {
	border-bottom: solid black 1px;

}

#username{
	margin-bottom: 30px;
}
#password{
	margin-bottom: 30px;
}
#username, #password{
	width:100%;
	outline: none;
	border:  none;
	padding: 7px;
	font-size: 14px;
	border-bottom: solid #e1e4e6 1px;
}
.loginButton{
	
	margin-bottom: 10px;
	width:100%;	
	background-color: gainsboro;
	border:  none;
}
.loginButton:hover, .loginButton:focus{
	cursor: pointer;
	border: solid #2c82c9 1px;
	background-color:#2c82c9;
	color: white;
	border:  none;
}

/* padding */

.usernameLabel, .passwordLabel, .loginButton{
	margin-top: 30px;
}
#username{
	margin-bottom: 30px;
}

#password{
	margin-bottom:  20px;
}

.notify{
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}